[project]
	description = Coca cola hackathon project
[access "refs/*"]
	owner = group user/Anita Santoso (anitasantoso)
[access "refs/for/refs/*"]
	read = group user/Anita Santoso (anitasantoso)
	push = group user/Anita Santoso (anitasantoso)
	label-Code-Review = -2..+2 group user/Anita Santoso (anitasantoso)
	label-Verified = -1..+1 group user/Anita Santoso (anitasantoso)
	rebase = group user/Anita Santoso (anitasantoso)
	removeReviewer = group user/Anita Santoso (anitasantoso)
	submit = group user/Anita Santoso (anitasantoso)
[access "refs/heads/*"]
	read = group user/Anita Santoso (anitasantoso)
	create = group user/Anita Santoso (anitasantoso)
	push = +force group user/Anita Santoso (anitasantoso)
	pushMerge = group user/Anita Santoso (anitasantoso)
[access "refs/tags/*"]
	push = +force group user/Anita Santoso (anitasantoso)
	pushTag = group user/Anita Santoso (anitasantoso)
	pushSignedTag = group user/Anita Santoso (anitasantoso)
